FILES_SERVICE_PORT=8082
FILES_DATABASE_URL=postgres://workshop:workshop@localhost:5432/files?sslmode=disable
FILES_STORAGE_ROOT=/tmp/files-storage
FILES_JWT_PUBLIC_KEY_PATH=../../keys/jwt_dev_public.pem
FILES_MAX_UPLOAD_BYTES=10485760
